
<body>
    <header>
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <i class="fab fa-bitcoin fa-2x mx-3"></i>Coin Analytica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME
                    
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">ABOUT US
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/help">FAQ
                  </a>
              </li>
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <a href="/dashboard" class="nav-link">PLANS</a>
                    <div class="dropdown-content">
                      <a href="/users/login">SILVER PLANS</a>
                      <a href="/users/login">GOLD PLANS</a>
                      <a href="/users/login">PLATINIUM PLANS</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">REGISTER</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-7 col-lg-12  text-white">
                <h6>COIN ANALYTICA</h6>
          <h1>About Us</h1>
          <p>
            Coin Analytica distinctive investment company offering our investors access to high-growth investment opportunities in finance markets and other services. We implement best practices of trading  through our structured operations, while offering flexibility in our investment plans.
          </p>
          <p class="pt-4">
            We aspire to be a company that contributes to society by providing innovative services across a range of industries, going beyond the realms of conventional business models.
          </p>
          <a href="/users/register" class="nav-link">
            <button class="btn btn-light px-5 py-2 primary-btn">
             The Realm
            </button></a> 
            </div>
          </div>
        </div>
      </header>
      <section>
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.0rg/2000/svg" viewBox="0 0 1416.99 174.01">
            <defs><style>.cls-1{ fill: #bd1d1d;}</style></defs><title>Untitled-4</title><path class="cls-1" d="MO,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z" tranform="translate(0-135.53)"/>
            </svg>
      </section>
      <footer>
        <div class="container-fluid p-0">
          <div class="row text-left">
            <div class="col-md-5 col-sm-5">
              <h4 class="text-light">About us</h4>
              <p class="text-muted">WidenmayerstraBe 31 Munich, 80538 Germany</p>
              <p class="text-muted">mail@coinanylytica.com/p>
                <a href="/terms-and-condition"><p class="text-muted mt-3" >Term and Conditions</p></a>
                <a href="/privacy-policy"><p class="text-muted ">Privacy Policy</p></a>
                <a href="/refund-polcy"><p class="text-muted  mb-2">Refund Policy</p></a>
              <p class="pt-4 text-muted">Copyright ©2020 All rights reserved 
              </p>
            </div>
            <div class="col-md-5 col-sm-12">
              <h4 class="text-light">Newsletter</h4>
              <p class="text-muted">Stay Updated</p>
              <form class="form-inline">
                <div class="col pl-0">
                  <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-arrow-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4 class="text-light">Follow Us</h4>
              <p class="text-muted">Let us be social</p>
              <div class="column text-light">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '02bfa63594e91ada1ce8c37ef7691b351b169dba';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <!-- end of smartsupp Live Chat  -->
    
</body>
</html>