<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/Style.css" />
  <link rel="stylesheet" href="/mobile-style.css">
    <title></title>
</head>
<body>
    <header>
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <i class="fab fa-bitcoin fa-2x mx-3"></i>Coin Analytica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME
                    
                  </a>
            
                <li class="nav-item">
                  <a class="nav-link" href="/contact">ABOUT US
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/help">FAQ
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <a href="/dashboard" class="nav-link">PLANS</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">register</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <section class="content16 cid-s98qMrjLk0" id="content16-m">
    
          <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                      <div class="mbr-section-head align-center">
                          <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                              <strong>Frequently Asked Question</strong>
                          </h3>
                          
                      </div>
                      <div id="bootstrap-accordion_10" class="panel-group accordionStyles accordion mt-4" role="tablist" aria-multiselectable="true">
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse1_10" aria-expanded="false" aria-controls="collapse1">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>How to create more items in this list?</strong>
                                      </h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse1_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">The number of items is limited in this block. Open
                                          the Block parameters to change the amount of items.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse2_10" aria-expanded="false" aria-controls="collapse2">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Mobirise Kit?
                                          </strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse2_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          Mobirise Kit is a service that provides the access to all current and new
                                          themes/extensions developed by Mobirise. New themes/extensions are released every
                                          month and will be available in your account during your plan period, without any
                                          additional charge.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse3_10" aria-expanded="false" aria-controls="collapse3">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I create sites for commerical
                                              projects?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse3_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          Yes, Mobirise is free for both non-profit and commercial sites.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse4_10" aria-expanded="false" aria-controls="collapse4">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Code Editor?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse4_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          This extension allows editing the code of block in the app. Also, it's possible to
                                          add code to the head and body parts of pages.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse5_10" aria-expanded="false" aria-controls="collapse5">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Mobirise Kit?
                                          </strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse5_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          Mobirise Kit is a service that provides the access to all current and new
                                          themes/extensions developed by Mobirise. New themes/extensions are released every
                                          month and will be available in your account during your plan period, without any
                                          additional charge.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse6_10" aria-expanded="false" aria-controls="collapse6">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I create sites for commerical
                                              projects?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse6_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          Yes, Mobirise is free for both non-profit and commercial sites.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </header>
      

      <footer>
        <div class="container-fluid p-0">
          <div class="row text-left">
            <div class="col-md-5 col-sm-5">
              <h4 class="text-light">About us</h4>
              <p class="text-muted">Munich, Germany</p>
              <p class="text-muted">mail@coinanylytica.com/p>
                <a href="/terms-and-condition"><p class="text-muted mt-3" >Term and Conditions</p></a>
                <a href="/privacy-policy"><p class="text-muted ">Privacy Policy</p></a>
                <a href="/refund-polcy"><p class="text-muted  mb-2">Refund Policy</p></a>
              <p class="pt-4 text-muted">Copyright ©2020 All rights reserved 
              </p>
            </div>
            <div class="col-md-5 col-sm-12">
              <h4 class="text-light">Newsletter</h4>
              <p class="text-muted">Stay Updated</p>
              <form class="form-inline">
                <div class="col pl-0">
                  <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-arrow-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4 class="text-light">Follow Us</h4>
              <p class="text-muted">Let us be social</p>
              <div class="column text-light">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>
       <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '02bfa63594e91ada1ce8c37ef7691b351b169dba';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <!-- end of smartsupp Live Chat  -->

    
</body>
</html>