<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/Style.css" />
  <link rel="stylesheet" href="/mobile-style.css">
    <title></title>
</head>
<body>
    <header>
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <i class="fab fa-bitcoin fa-2x mx-3"></i>Coin Analytica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME
                    
                  </a>
            
                <li class="nav-item">
                  <a class="nav-link" href="/contact">ABOUT US
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/help">FAQ
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <a href="/dashboard" class="nav-link">PLANS</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">REGISTER</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <section class="content16 cid-s98qMrjLk0" id="content16-m">
    
          <div class="container-fluid">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                      <div class="mbr-section-head align-center">
                          <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                              <strong>Frequently Asked Question</strong>
                          </h3>
                      </div>
                      <div id="bootstrap-accordion_10" class="panel-group accordionStyles accordion mt-4" role="tablist" aria-multiselectable="true">
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse1_10" aria-expanded="false" aria-controls="collapse1">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What is Coin Analytica ?</strong>
                                      </h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse1_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">It is the High Yield Investment Program, whose members receive income from their investments from 3.14% to 1250% (depending on the plan chosen) in a short period of time.Coin Analytica .cLTD is a professional investment corporation engaged in stock, foreign exchange market, Forex market and gold trading, under UK Registration.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse2_10" aria-expanded="false" aria-controls="collapse2">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What Are The Interests On Deposits Provided By? 
                                          </strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse2_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                        As any such a system, Coin Analytica works on the principle of a financial pyramid - the previous gets from the next.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse3_10" aria-expanded="false" aria-controls="collapse3">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Who Manages The Investment Portfolio?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse3_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                        The investment portfolio is managed by our team of financial specialists with strong command in finance allows for effective analysis of the market and financial situation. The Company employs experts on the full-time basis who have been working on the stock market, foreign exchange market, Forex Trade and gold trading for more than 6 years on average. Our financial team also includes specialists who are experts in evaluating new private businesses called start-ups which have most chances to grow into large-scale and highly profitable enterprises.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse4_10" aria-expanded="false" aria-controls="collapse4">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What Payment Systems Does The Project Work With?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse4_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                          Our team at Coin Analytica after Vigorous test for a good payment system chose Bitcoin the world's largest cryptocurrency by market cap  we found was best method investors like you wanted use for payment due to its low transaction rate and  the lack of an intermediary like banks and financial institutions.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse5_10" aria-expanded="false" aria-controls="collapse5">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>How Can I Get Paid From Coin Analytica ?
                                          </strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse5_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p> In your account, there will be added money available for withdrawal. Order them for withdrawal and they will go into your walletyou provide during Registration.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse6_10" aria-expanded="false" aria-controls="collapse6">
                                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I Make Money Without Investing Anything?
                                              projects?</strong></h6>
                                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                  </a>
                              </div>
                              <div id="collapse6_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                  <div class="panel-body">
                                      <p class="mbr-fonts-style panel-text display-4">
                                        Yes, we have developed a referral program. You will receive a 3% to 7% (10% for representative ) bonus on deposits from members you invited to the project. To do this, they must enroll in your account.
                                        Your referral link will be available in the Personal Area after registration.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse7_10" aria-expanded="false" aria-controls="collapse6">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>I Can't Find The Answer To My Question</strong></h6>
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                </a>
                            </div>
                            <div id="collapse7_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-4">
                                      Write us with the help of the form of <a href="/" style="color: 
                                      blue;">"Support"</a>  or send mail to mail@coinanalytica.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                          <div class="card-header" role="tab" id="headingOne">
                              <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse8_10" aria-expanded="false" aria-controls="collapse6">
                                  <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Do I Get Profit Every Day, Even On Weekends?</strong></h6>
                                  <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                              </a>
                          </div>
                          <div id="collapse8_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                              <div class="panel-body">
                                  <p class="mbr-fonts-style panel-text display-4">
                                      Yes, The way we have design our investment portfolio Profit is generated 7 days a week </p>
                              </div>
                          </div>
                      </div>
                      <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse9_10" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Do You Charge Any Fees To Withdraw Funds?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                            </a>
                        </div>
                        <div id="collapse9_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    No, due to the way bitcoin payments processing was designed we at coin Analytica will be the one to pay the withdrawal charges that you don't have o pay any transaction fees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                      <div class="card-header" role="tab" id="headingOne">
                          <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse10_10" aria-expanded="false" aria-controls="collapse6">
                              <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>I made a deposit but my balance still says $0.98</strong></h6>
                              <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                          </a>
                      </div>
                      <div id="collapse10_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                          <div class="panel-body">
                              <p class="mbr-fonts-style panel-text display-4">
                                This maybe due to your connection or other technical issue please contact our help desk using the chat icon below they would be able to help you</p>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3">
                    <div class="card-header" role="tab" id="headingOne">
                        <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse12_10" aria-expanded="false" aria-controls="collapse6">
                            <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Can I Make A Deposit Directly From My Balance Or Shall I Fast Withdraw The Funds?</strong></h6>
                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                        </a>
                    </div>
                    <div id="collapse12_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                        <div class="panel-body">
                            <p class="mbr-fonts-style panel-text display-4">
                                Coin Analytica allows you to accumulate funds on the balance of your account, which you can use as a source for the creation of a new deposit.</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header" role="tab" id="headingOne">
                      <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse14_10" aria-expanded="false" aria-controls="collapse6">
                          <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What Is The Minimum Amount I Can Deposit?
                                  </strong></h6>
                          <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                      </a>
                  </div>
                  <div id="collapse14_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                      <div class="panel-body">
                          <p class="mbr-fonts-style panel-text display-4">
                            The minimum deposit starts from $100.</p>
                      </div>
                  </div>
              </div>
              <div class="card mb-3">
                <div class="card-header" role="tab" id="headingOne">
                    <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse16_10" aria-expanded="false" aria-controls="collapse6">
                        <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>What Is The Minimum Amount I Can Withdraw?</strong></h6>
                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                    </a>
                </div>
                <div id="collapse16_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                    <div class="panel-body">
                        <p class="mbr-fonts-style panel-text display-4">
                          The minimum is as low as $1.30, but if you use crypto-currency (Bitcoin or Litecoin) the minimum is $1.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
              <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse17_10" aria-expanded="false" aria-controls="collapse6">
                      <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>How do I sign Up</strong></h6>
                      <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                  </a>
              </div>
              <div id="collapse17_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                  <div class="panel-body">
                      <p class="mbr-fonts-style panel-text display-4">
                          Click on the <a href="/register" style="color: blue;">REGISTER</a> this link would lead to page where you will have to fill a form this includes <strong>First_name, Last_name, Email, Bitcoin_wallet_Address,</strong> you would also need to find a  strong<strong>Password</strong> which as at least 8 characters. </p>
                  </div>
              </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" role="tab" id="headingOne">
                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse18_10" aria-expanded="false" aria-controls="collapse6">
                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>How do I Make make a payment, choose a plan or make an investment.</strong></h6>
                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                </a>
            </div>
            <div id="collapse18_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
                <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-4">
                        This process can only be done after you have registered as an Investor,
                      you would have to click on the burger menu on the right side of your dashboard, then choose the option that says invest, this would take you to the invest page, here you would choose a plan and transmit the payment to the Bitcoin address there. you have to make this payment within 720 seconds this is to prevent interception into the payment network which could make you loose money.</p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
          <div class="card-header" role="tab" id="headingOne">
              <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse19_10" aria-expanded="false" aria-controls="collapse6">
                  <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Could I loose money?</strong></h6>
                  <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
              </a>
          </div>
          <div id="collapse19_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
              <div class="panel-body">
                  <p class="mbr-fonts-style panel-text display-4">
                    No, you will not lose money. We at Coin Analytica make every effort to ensure the safety of your assets through investing in sectors that has less volatility like real estate,Bonds,precious metals like gold,stocks of high technology company like FAANG.  </p>
              </div>
          </div>
      </div>
      <div class="card mb-3">
        <div class="card-header" role="tab" id="headingOne">
            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse20_10" aria-expanded="false" aria-controls="collapse6">
                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Where is the companies terms and Conditions.</strong></h6>
                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
            </a>
        </div>
        <div id="collapse20_10" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_10">
            <div class="panel-body">
                <p class="mbr-fonts-style panel-text display-4">
                    You could see the link to terms and condition page in the section of home page as well as this page or click <a href="/terms-and-condition" style="color: blue;">here</a> to view our terms and condition page.</p>
            </div>
        </div>
    </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </header>
      

      <footer>
        <div class="container-fluid p-0">
          <div class="row text-left">
            <div class="col-md-5 col-sm-5">
              <h4 class="text-light">About us</h4>
              <p class="text-muted">Munich, Germany</p>
              <p class="text-muted">mail@coinanylytica.com </p>
                <a href="/terms-and-condition"><p class="text-muted mt-3" >Term and Conditions</p></a>
                <a href="/privacy-policy"><p class="text-muted ">Privacy Policy</p></a>
                <a href="/refund-polcy"><p class="text-muted  mb-2">Refund Policy</p></a>
              <p class="pt-4 text-muted">Copyright ©2020 All rights reserved 
              </p>
            </div>
            <div class="col-md-5 col-sm-12">
              <h4 class="text-light">Newsletter</h4>
              <p class="text-muted">Stay Updated</p>
              <form class="form-inline">
                <div class="col pl-0">
                  <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-arrow-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4 class="text-light">Follow Us</h4>
              <p class="text-muted">Let us be social</p>
              <div class="column text-light">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>
       <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '02bfa63594e91ada1ce8c37ef7691b351b169dba';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <!-- end of smartsupp Live Chat  -->

    
</body>
</html>