<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/Style.css" />
  <link rel="stylesheet" href="/mobile-style.css">
    <title></title>
</head>
<body>
    <header>
        <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <i class="fab fa-bitcoin fa-2x mx-3"></i>Coin Analytica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME
                    
                  </a>
            
                <li class="nav-item">
                  <a class="nav-link" href="/contact">ABOUT US
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/help">FAQ
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <div class="dropdown">
                    <a href="/dashboard" class="nav-link">PLANS</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">register</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <section class="content14 cid-s98DSAwlY9" id="content14-r">
    
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                            <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                                <strong>Refund policy</strong>
                            </h3>
                            <h6 class="mbr-section-title mbr-fonts-style mb-4 display-6">
                              <strong>disclaimer</strong>
                          </h6>
                        <ul class="list mbr-fonts-style display-7">
                            <li><strong>Coinanalytica  is not available to the general public and is opened only to the qualified members , the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                           </strong><br><strong> </strong>
                                <strong></strong>.</li>
                            <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong><br></li>
                            <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.</strong><br>Open the main menu in the app and find the
                                Extensions
                               </li>
                            <li><strong>Finally we do not think refund a the best option to solve any case of equity loss since even professionals like us do not have control or own the market so there are chances where you could loose money.
                                </strong><br></li>
                            <li><strong><br></strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
      </header>
      

      <footer>
        <div class="container-fluid p-0">
          <div class="row text-left">
            <div class="col-md-5 col-sm-5">
              <h4 class="text-light">About us</h4>
              <p class="text-muted">Munich, Germany</p>
              <p class="text-muted">mail@coinanylytica.com </p>
                <a href="/terms-and-condition"><p class="text-muted mt-3" >Term and Conditions</p></a>
                <a href="/privacy-policy"><p class="text-muted ">Privacy Policy</p></a>
                <a href="/refund-polcy"><p class="text-muted  mb-2">Refund Policy</p></a>
              <p class="pt-4 text-muted">Copyright ©2020 All rights reserved 
              </p>
            </div>
            <div class="col-md-5 col-sm-12">
              <h4 class="text-light">Newsletter</h4>
              <p class="text-muted">Stay Updated</p>
              <form class="form-inline">
                <div class="col pl-0">
                  <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-arrow-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <h4 class="text-light">Follow Us</h4>
              <p class="text-muted">Let us be social</p>
              <div class="column text-light">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>
       <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '02bfa63594e91ada1ce8c37ef7691b351b169dba';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <!-- end of smartsupp Live Chat  -->

    
</body>
</html>